// Colors
// -------------------------------
$white:                           #fff !default;
$black:                           #333 !default;
$grey:                            #454545 !default;
$light:                           #f9f9f9 !default;
$lightgrey:                       #f6f6f6 !default;
$semigrey:                        #e5e5e5 !default;
$darkgrey:                        #333 !default;
$grey01:                          #686868 !default;
$grey02:                          #868686 !default;
$grey03:                          #dbdbdb !default;
$grey04:                          #9b9b9b !default;
$grey05:                          #dadada !default;
$grey06:                          #e6e6e6 !default;
$grey07:                          #dadada !default;
$grey08:                          #e2e2e2 !default;
$grey09:                          #f7f6f6 !default;

// validation colors
$success:                         #8cc757 !default;
$info:                            #55c2b2 !default;
$error:                           #de4636 !default;
