// Variables Styles
// Defaults
$side-gutters:                    12px !default;

// Custom
$avatar-base-size:     48px;
$avatar-border-size:   1px;
$border-radius:        2px;
$letter-spacing:       .06em;

// Fontssss
$fonts-path:                       '../fonts/' !default;
$sans-serif:                       Helvetica, sans-serif !default; //weights ~ 400,600,700
